
.absolute-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 2;
}

.filter-toggle-div {
    transform: translateX(80px);
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 40px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.filter-toggle-div:hover {
    transform: translateX(0px);
}

.filter-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    background-color: green;
    height: inherit;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.filter-toggle img {
    max-width: 100%;
    max-height: 100%;
}